<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8" />
	<title>Lista Telefonica</title>
	

	<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/ui.css">

	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/angular-locale_pt-br.js"></script>
	
	<script type="text/javascript" src="lib/jquery-2.1.4.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/listaTelefonicaCtrl.js"></script>
	
	<script src="js/services/contatosAPIService.js"></script>
	<script src="js/services/operadorasAPIService.js"></script>
	<script src="js/services/serialGeneratorService.js"></script>
	
	<script src="js/config/serialGeneratorConfig.js"></script>

	<script src="js/value/configValue.js"></script>
	
	<script src="js/filters/nameFilter.js"></script>
	<script src="js/filters/ellipsisFilter.js"></script>
	<script src="js/filters/cpfFilter.js"></script>
	<script src="js/filters/telefoneFilter.js"></script>

	<script src="js/directives/uiAlertDirective.js"></script>
	<script src="js/directives/uiDateDirective.js"></script>
	<script src="js/directives/uiUtilDirective.js"></script>
	<script src="js/directives/uiAccordionDirective.js"></script>
	

</head>
<body ng-controller="listaTelefonicaCtrl">

	<div class="flt">
			<div class="jumbotron">
				<h5>{{$id}}</h5>
				<h3> {{msg}} </h3>
				
				
					<ui-accordion title="Accordion 1"></ui-accordion>
					<ui-accordion title="Accordion 2">
						asdfasddf
					</ui-accordion>
				

				<div ui-alert  ng-show="error" title="Ops, aconteceu um problema!" >
						<!-- {{error}} -->
						Error
				</div>

				<input type="text" ng-model="busca" placeholder="Busca ai..." class="form-control" /> 
				<table ng-if="contatos.length > 0" class="table">
					<tr>
						'<th>
								<span class=" glyphicon glyphicon-th-list"></span>
					
						</th>
						<th><a href="#" ng-click="ordenarPor('nome')">Nome</a></th>
						<th><a href="#" ng-click="ordenarPor('telefone')">Telefone</a></th>
						<th>Operadora</th>
						<th>Data</th>
						<th>Serial</th>

					</tr>
					<tr ng-class="{selecionado: item.selecionado}" ng-repeat="item in contatos | orderBy:ordenarPorCampo:direcao | filter:{nome: busca}">
						
						<td>
							<input type="checkbox" ng-model="item.selecionado"/> 
						</td>
						<td> {{item.nome | name}} </td>
						<td> {{item.telefone | telefone }} </td>
						<td> {{item.operadora.nome}} </td>
						<td> {{item.data | date:'dd/MM/yyyy hh:mm' }} </td>
						<td> {{item.serial}} </td>
						<!-- <td ng-repeat="(key, value) in item">
							{{key + " - " + value}}
							{{value}}
						</td> -->
					</tr>
				</table>
				<hr />
					<h3>Valido: {{contatoForm.$valid}}</h3>
					<form name="contatoForm">
						<input type="text" class="form-control" placeholder="Nome" name="nome" ng-model="contato.nome" ng-required="true" />

						<input type="text" class="form-control" placeholder="Telefone"  name="telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" ui-util="telefone" />
						

						<input class="form-control" type="text" name="data" ng-model="contato.data" placeholder="Data" ui-date ng-required="true" />

						<select ng-model="contato.operadora" class="form-control" ng-options="item.nome + '(' + (item.preco | currency) + ')' for item in operadoras | orderBy:'nome'" ng-required="true">
							<option value="">Selecione</option>
						</select>
						
						<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contatoForm.$valid">Adicionar Contato</button>
						
						<button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-disabled="isContatoSelecionado(contatos)">Apagar Contato(s)</button>
						<hr />
					</form>
					<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
							Preencha o Nome.
					</div>
					<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
							Preencha o Telefone.
					</div>
					<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
							Telefone Erro.
					</div>
					<hr />
					<!-- <div ng-include="'view/footer.html'"></div> -->
			</div>
			<div class="jumbotron msg">
						{{contato}}
					<hr />
						{{contatos}}
					<hr />
					<input type="text" class="form-control" placeholder="Digite..." ng-model="teste" />
					<button class="btn btn-block btn-primary" ng-click="mostraAlerta(teste)">Click</button>
					<hr />
					{{ teste }}
					
			</div>	
	</div>
		
</body>
</html>